@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.container {
  max-width: 1240px;
}

/*header*/
header .navbar {
  background: #fff !important;
  z-index: 9999 !important;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .nav-item .nav-link {
  font-size: 15px;
  color: #484c55;
  border-bottom: 3px solid transparent;
  padding: 37px 21.25px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .nav-item .nav-link:hover {
  color: #49cbcd;
  background-color: #F8F9FB;
  border-bottom: 3px solid #49cbcd;
}

header .nav-pills .nav-link.active, header .nav-pills .show > .nav-link {
  color: #49cbcd;
  background-color: #F8F9FB;
  border-bottom: 3px solid #49cbcd !important;
  border-radius: 0;
}

header .is-sticky .navbar {
  -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509804);
          box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509804);
}

header .is-sticky .nav-link {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/*#banner*/
#banner {
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 130px 0;
}

#banner h1 {
  font-size: 63px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 25px;
}

#banner p {
  max-width: 396px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 23px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
}

#banner a {
  font-size: 26px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  border: 3px solid #fff;
  display: inline-block;
  padding: 12px 35px;
  border-radius: 4px;
}

#banner a:hover {
  background: #49cbcd;
  border-color: #49cbcd;
  color: #fff;
}

#banner .owl-carousel {
  position: relative;
}

#banner .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

#banner .owl-carousel .owl-nav button {
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  color: #49cbcd;
  -webkit-transition: .3s;
  transition: .3s;
}

#banner .owl-carousel .owl-nav button:hover {
  background: #49cbcd;
  color: #fff;
}

#banner .owl-carousel .owl-nav .owl-prev {
  float: left;
}

#banner .owl-carousel .owl-nav .owl-next {
  float: right;
}

/*#services*/
#services {
  padding-top: 50px;
  padding-bottom: 100px;
}

#services i {
  display: inline-block;
  font-size: 35px;
  color: #49cbcd;
  height: 105px;
  width: 105px;
  line-height: 105px;
  border: 3px solid #49cbcd;
  border-radius: 50%;
  margin-top: 50px;
}

#services h3 {
  font-size: 22px;
  color: #4e525d;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 15px;
}

#services p {
  font-size: 14px;
  line-height: 26px;
  color: #4e525d;
  max-width: 255px;
  margin: auto;
}

#services a {
  font-size: 14px;
  color: #ffffff;
  background: #49cbcd;
  display: inline-block;
  padding: 4.5px 13px;
  border-radius: 3px;
  margin-top: 15px;
}

#services a:hover {
  background-color: #484c55;
}

/*#portfolio*/
#portfolio {
  background: #F1F1F1;
  padding: 100px 0;
}

#portfolio h2 {
  font-size: 42px;
  color: #4e525d;
  font-weight: 400;
  margin-bottom: 25px;
}

#portfolio img {
  margin-top: 30px;
}

#portfolio a {
  margin-top: 60px;
  font-size: 22px;
  color: #ffffff;
  background: #3EC2F3;
  border: none;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 6px 60px;
  display: inline-block;
}

#portfolio a:hover {
  background: #485460;
}

/* #team */
#team {
  padding: 100px;
}

#team h2 {
  font-size: 42px;
  color: #4e525d;
  font-weight: 400;
  margin-bottom: 80px;
}

#team img {
  margin-top: 50px;
  background-color: #EEEEF0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#team h3 {
  font-size: 22px;
  color: #4e525d;
  font-weight: 400;
  margin-top: 65px;
  margin-bottom: 5px;
}

#team h6 {
  font-size: 16px;
  color: #4e525d;
  font-weight: 400;
  margin-bottom: 25px;
}

#team p {
  font-size: 14px;
  line-height: 26px;
  color: #4e525d;
  max-width: 255px;
  margin: auto;
}

/* #plans */
#plans {
  background-color: #F1F1F1;
  padding-top: 70px;
  padding-bottom: 100px;
}

#plans #box {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #EBEFF1;
}

#plans #box #box-header {
  padding: 19px 0;
  background: #485460;
}

#plans #box #box-header h3 {
  font-size: 26px;
  color: #ffffff;
  font-weight: 400;
}

#plans #box #box-body #amount {
  background: #F8F9FB;
  border-bottom: 1px solid #ecf0f1;
  padding: 22.5px 0;
}

#plans #box #box-body #amount h4 {
  font-size: 20px;
  color: #485460;
  font-weight: 400;
}

#plans #box #box-body ul li {
  width: 100%;
  border-bottom: 1px solid #ecf0f1;
  font-size: 14px;
  color: #8c9299;
  display: inline-block;
  padding: 12px;
}

#plans #box #box-footer {
  background: #F8F9FB;
  padding: 15px 0;
}

#plans #box #box-footer a {
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  background: #788492;
  border-radius: 3px;
  display: inline-block;
  padding: 7.5px 49.5px;
}

#plans #box #box-footer a:hover {
  background: #485460;
}

#plans #active #box-header, #plans #active #box-footer a {
  background-color: #49cbcd;
}

/* #testimonials */
#testimonials {
  padding: 100px 0;
}

#testimonials h2 {
  font-size: 42px;
  color: #4e525d;
  font-weight: 400;
}

#testimonials p {
  margin-top: 100px;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 30px;
  color: #4e525d;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#testimonials h3 {
  font-size: 30px;
  color: #8c9299;
  font-weight: 400;
  margin-bottom: 25px;
}

#testimonials .owl-carousel {
  position: relative;
}

#testimonials .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

#testimonials .owl-carousel .owl-nav button {
  font-size: 24px;
  color: #8c9299;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#testimonials .owl-carousel .owl-nav button:hover {
  color: #4e525d;
}

#testimonials .owl-carousel .owl-nav .owl-prev {
  float: left;
}

#testimonials .owl-carousel .owl-nav .owl-next {
  float: right;
}

/*footer*/
footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 100px;
}

footer .row > div {
  margin-top: 50px;
}

footer h2 {
  font-size: 42px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
}

footer h3 {
  font-size: 26px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
}

footer p {
  max-width: 431px;
  font-size: 14px;
  line-height: 21px;
  color: #eee;
  margin-bottom: 30px;
}

footer #social {
  margin-bottom: 15px;
}

footer #social li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: red;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}

footer #social li #facebook {
  background: #3B5997;
}

footer #social li #facebook:hover {
  background: #fff;
  color: #3B5997;
}

footer #social li #instagram {
  background: #E44C41;
}

footer #social li #instagram:hover {
  background: #fff;
  color: #E44C41;
}

footer #social li #twitter {
  background: #3EC2F3;
}

footer #social li #twitter:hover {
  background: #fff;
  color: #3EC2F3;
}

footer ul li {
  font-size: 14px;
  line-height: 24px;
  color: #bface2;
}

footer form .form-control {
  border-radius: 2px;
  border: none;
  padding: 22.5px;
}

footer form textarea {
  height: 180px !important;
}

footer form input[type="submit"] {
  font-size: 22px;
  color: #ffffff;
  background: #3EC2F3;
  border: none;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 6px 60px;
  float: right;
}

footer form input[type="submit"]:hover {
  background: #485460;
}

/*responsive*/
@media (max-width: 767.98px) {
  #banner h1 {
    font-size: 40px;
  }
  .owl-nav {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .owl-nav:hover {
    opacity: 1;
  }
  .navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .navbar-nav {
    display: none;
  }
  #mobile-menu span {
    font-size: 25px;
    cursor: pointer;
  }
  #mobile-menu-item {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    padding: 30px 0;
  }
  #mobile-menu-item li {
    list-style: none;
    margin-bottom: 15px;
  }
  #mobile-menu-item li:last-child {
    margin-bottom: 0;
  }
  #mobile-menu-item li a {
    font-size: 20px;
    color: #fff;
  }
}